footer {
    background-color: $dark-blue;
    position: relative;
    h2 {
        padding: 5rem 0;
    }
    
}
.social-media-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.contacto {
    color: $white;
    margin: 2rem 4rem;
    width: 140px;
    p {
        transition: all 0.3s;
    }
    &:hover > p {
        color: $alternate-light-blue;
    }
}
@media (max-width: 768px) {
    footer {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4rem 5rem 4rem;
        * {
            display: inline-block;
        }
    }
}