header {
    position: fixed;
    width: 100%;
    height: 80px;
    margin-top: -10rem;
    background-color: $dark-blue;
    color: white;
    z-index: 2;
    transition: all 0.6s;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .desplegable {
        @include hidden;
    }
    
}
.links {
    display: flex;
    li {
        list-style: none;
        font-size: 2rem;
        padding: 1.8rem;
        a {
            color: $white;
            transition: all 0.2s;
            &:hover {
                color: $alternate-light-blue;
            }
        }
    }
}

//Mobile 
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        img {
            padding: 0 1rem;
        }
    }
    .links li {
        font-size: 1.5rem;
        padding: 1.2rem;
    }
}