header {
    position: fixed;
    width: 100vw;
    height: 80px;
    margin-top: -10rem;
    background-color: $dark-blue;
    color: white;
    z-index: 2;
    transition: all 0.4s;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .desplegable {
        position: absolute;
        margin-top: 1.7rem;
        background-color: $dark-blue;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.63); 
        a {
            color: $white;
            padding: 1rem 2rem;
            transition: all 0.4s;
            display: block;
            &:hover {
                background-color: $alternate-light-blue;
            }
        }
    }
}
#organizacion:hover > .desplegable {
    display: block;
}
#programa:hover > .desplegable {
    display: block;
}
.links {
    display: flex;
    li {
        list-style: none;
        font-size: 2rem;
        padding: 1.8rem;
        .link-a {
            color: $white;
            transition: all 0.2s;
            &:hover {
                color: $alternate-light-blue;
            }
        }
    }
}
