////////////////////////////////Mobile
@media (max-width: 768px) {
    header {
        width: 100vw;
    }
    .banner {
        @include hidden;
    }
    .banner-mobile {
        display: block;
    }
    .side-sm-margins {
        padding: 0 2.5rem;
    }
    .side-margins-mobile {
        padding: 0 2.5rem;
    }
    .bottom-margins-mobile {
        padding-bottom: 4rem;
    }
    .text-content {
        h2 {
            width: 240px;
            font-size: 3rem;
            margin: 1rem 2rem;
        }
    }
    .links {
        width: 100vw;
        transform: translateY(21rem);
        background-color: $dark-blue;
        position: absolute;
        flex-direction: column;
        width: 100%;
        align-items: center;
        display: none;
        transition: all 0.4s;
    }
    .submenu {
        flex-wrap: wrap;
    }
    .items-submenu {
        width: 35%;
    }
    .day {
        display: inline-block;
        min-width: 300px;
    }
    .time {
        margin: 0.7rem 2rem;
    }
}

////////////////////////////////Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        img {
            padding: 0 1rem;
        }
    }
    .links li {
        font-size: 1.5rem;
        padding: 1.2rem;
    }
}    
////////////////////////////////Desktop
@media (min-width: 768px) {
    .banner-mobile {
        @include hidden;
    }
    .open-close-menu {
        @include hidden;
    }
    .time {
        padding: 0.7rem 8rem;
    }
}
