////////////////////////////////Mobile
@media (max-width: 768px) {
    header {
        margin-top: 0;
    }
    .banner {
        @include hidden;
    }
    .banner-mobile {
        display: block;
    }
    .side-margins {
        padding: 0 4rem;
    }
    .text-content {
        h2 {
            width: 240px;
            font-size: 3rem;
            margin: 1rem 2rem;
        }
    }
    .links {
        background-color: $dark-blue;
        position: absolute;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

////////////////////////////////Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        img {
            padding: 0 1rem;
        }
    }
    .links li {
        font-size: 1.5rem;
        padding: 1.2rem;
    }
}    
////////////////////////////////Desktop
@media (min-width: 768px) {
    .banner-mobile {
        @include hidden;
    }
    .open-close-menu {
        @include hidden;
    }
}
