////////////////////////////////Normalizar
* {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    text-decoration: none;
    letter-spacing: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
:root {
    font-size: 8px;
}

////////////////////////////////Mixins
@mixin hidden {
    display: none;
}
@mixin alineacionVertical {
    display: flex;
    align-items: center;
}
@mixin alineacionHorizontal {
    display: flex;
    justify-content: center;
}

////////////////////////////////Variables
$dark-blue: #004aad;
$blue: #6181c4;
$white-blue: #afbedb;
$alternate-light-blue: #6fbcbf;
$alternate-pink: #c995b2;
$white: #FFF;
 

////////////////////////////////Quarks
h1 {
    font-size: 4rem;
    padding: 2rem 3rem;
    text-align: center;
    margin-top: 3rem;
}
h2 {
    font-size: 4rem;
    padding: 2rem 0;
}
h3 {
    font-size: 3rem;
    padding: 1rem;
}
h4 {
    margin: 2rem 0 0 0;
    font-size: 2.2rem;
    color: $dark-blue;
}
h5 {
    font-size: 2rem;
    margin: 3rem 0 2rem 0;
}
a {
    font-style: normal;
}
p {
    font-size: 2rem;
}
main {
    margin-top: 10rem;
}
body, header {
    max-width: 1600px;
    margin: auto;
}


////////////////////////////////Classes
.side-margins {
    padding: 0 15rem;
}
.side-sm-margins {
    padding: 0 8rem;
}
.bottom-margins {
    padding-bottom: 7rem;
}
.top-margins {
    margin-top: 2rem;
}
.top-margins {
    margin-top: 7rem;
}
.vh100 {
    height: 100vh;
    background-color: $dark-blue;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
        display: inline-block;
    }
}
.banner {
    width: 100%;
}
.banner-mobile {
    margin: auto;
}
.live {
    margin-top: 2rem;
    img {
        width: 100px;
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    .flex-column {
        display: flex;
        transition: all 0.4s;
        &:hover {
            box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.63);
        }
    }
    .blue-button {
        background-color: $blue;
    }
}
.float-left {
    display: block;
    height: 70px;
    background-color: white;
    padding: 0 20px;
    justify-self: flex-start;
}
.hidden {
    @include hidden;
}
.display {
    display: block;
}
.white {
    color: $white;
}
.dark-blue {
    color: $dark-blue;
}
.black {
    color: #000;
}
.img-icon {
    width: 4rem;
    margin: 1rem;
}

.img-medium {
    width: 20rem;
    margin: 5rem;
}
.blue-button {
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: $dark-blue;
    color: $white;
    border-radius: 25px;
    margin: 1rem;
    transition: all 0.4s;
    &:hover {
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.63);
    }
}
.text-content {
    margin: 7rem 0;
    h3 {
        color: $dark-blue;
        margin: 2rem 0 0 0;
    }
    p {
        margin: 0.8rem 0;
    }
    ul {
        li {
        margin-left: 3rem;
        font-size: 2rem;
        }
    }
    h2 {
        background-color: $alternate-light-blue;
        color: #FFF;
        padding: 1rem 4rem;
        width: 400px;
        margin: 3rem 0 2rem 0;
    }
}
.bold {
    font-weight: 500;
}
.bold600 {
    font-weight: 600;
}
.italic {
    font-style: italic;
}
.blue {
    color: $blue;
}
.open-close-menu {
    box-sizing: content-box;
    margin: 1rem 3rem;
    width: 4rem;
}
.day {
    display: inline-block;
    min-width: 380px;
    max-width: 460px;
}

//Table
table {
    border: 1px solid black;
    margin: 2rem;
}
td {
    font-size: 1.5rem;
    padding: 0.7rem;
}
.tr-large {
    height: 8rem;
}
.alternate-light-blue {
    background-color: $alternate-light-blue;
}
.white-blue {
    background-color: $white-blue;
}
.tr-borders {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.grey {
    background-color: #999999;
}